/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
  }
  a, a:visited {
    color:#0066EE;
    text-decoration:none;
  }
  
  .entry img {
    max-width:100%;
  }
  
  /* header */
  .header {
    margin:0 auto;
    background:#fff;
    margin-bottom:10px;
    border-bottom:1px solid #D9D9D9;
  }
  
  /* footer */
  .footer {
    margin-top:30px;
  }
  .footer img {
    width:105px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
  }
  .footer a, .footer a:visited {
    color:white;
    display:block;
    height:100%;
    padding:28px 0 25px 0;
    font-size:18px;
    font-weight:bold;
    color:white;
    text-align:center;
    background:#2E75B6;
    letter-spacing:1px;
    font-size:18px;
    cursor:pointer;
  }
  .footer a:hover {
    opacity:0.8;
  }
  .footer .copyright {
    background:white;
    color:#333;
    padding:9px 0 8px 0;
    font-size:14px;
    text-align:center;
  }
  
  /* container */
  .container {
    background:#F2EFE;
  }
  
  /* main */
  .main {
    margin: 0 auto;
    padding:0;
  }
  .main:after {
    content:"";
    display:block;
    clear:both;
  }
  
  /* content */
  .content {
    float:left;
    width:calc(100% - 280px);
  }
  
  /* entry */
  .entry {
    background:white;
    margin-bottom:10px;
    padding:10px 35px;
  }
  /* side */
  .side {
    float:left;
    width:280px;
    padding-top:16px;
  }
  
  /* tags */
  h1 {
    width:calc(100% - 50px);
    margin: 0 auto;
    font-size:22px;
    padding:15px 10px 11px 73px;
    background:url(/images/webdesign-logo.png) no-repeat 10px 5px;
  }
  h1 a, h1 a:visited {
    color:white;
    text-decoration:none;
    color:#333;
    font-size:25px;
  }
  h2 {
    font-size:24px;
    padding:15px 0 20px 0;
    letter-spacing:2px;
  }
  h2 a, h2 a:visited {
    text-decoration:none;
    color:#000;
    font-size:25px;
  }
  h3 {
    font-size:20px;
    border-top:4px solid #00AE50;
    padding:15px 0px 14px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    background:#F5F5F5;
    margin-top:30px;
    margin-bottom:20px;
  }
  h4 {
    font-size:20px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 18px 0;
    border-bottom:dashed 1px #ddd;
  }
  p {
    font-size:16px;
    color:#111;
    margin:10px 0;
    line-height:1.5;
  }
  pre {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
    white-space:pre-wrap;
    word-break:break-all;
  }
  blockquote {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
  }

  /* advanced */
  .day {
    text-align:right;
    color:#999;
  }
  .before-days {
    text-align:center;
  }
  .side-list {
    padding:5px;
  }
  .side-list-title {
    background:#00AE50;
    color:white;
    font-weight:bold;
    padding: 12px 0px 10px 0px;
    text-align:center;
    border:1px solid #E5E5E5;
    border-bottom:none;
  }
  .side-list ul {
    border:1px solid #ccc;
  }
  .side-list li {
    list-style:none;
    background:white;
    border-bottom:1px solid #E5E5E5;
    padding:12px 0px 10px 15px;
  }
  .side li:last-child {
    border-bottom:none;
  }
  
  ul.list li {
    list-style:disc;
    margin-left:40px;
  }

  .bread li {
    list-style:none;
    display:inline-block;
  }
  .bread li:after {
    content: "\203A";
    display:inline-block;
  }
  .bread li:last-child:after {
    content: "";
    display:inline-block;
  }


/* Tablet and Smart phone */
@media only screen and (max-width:960px) {
  .content {
    float:none;
    width:100%;
    margin:0 auto;
    margin-bottom:15px;
  }
  .side {
    float:none;
    width:97%;
    margin:0 auto;
    display:none;
  }
  .entry {
    padding:0;
  }
  h2, p, ul, pre, table {
    width:calc(100% - 30px);
    margin-left:auto;
    margin-right:auto;
  }
}
